@model PizzaWorld.Client.Models.CustomerViewModel

@{
  TempData.Put("Customer",Model.Customer);
}

<h3>Please choose a store and a existing username</h3>

<form action="/order/PostOrderSetup" method="POST">
<div class = "container">
  <div class="row">
    <p>Choose A Store: </p>
    @foreach (var item in Model.StoreView.StoreObjects)
    {
      <div class="col-md-3 col-lg-3 col-sm-3">
        <label for="@item">
          <input type="radio" name="store" id=@item value=@item  class="card-input-element" required>
            <div class="panel panel-default card-input">
              <div class="panel-heading text-center"> Store Name: @item.Name</div>
              <div class="panel-body">
                Address: @item.Address
              </div>
            </div>
        </label>
      </div>
    }
  </div>
  <div class="row">
    <p>Choose A Username: </p>
    @foreach (var item in Model.Customers)
    {
      <div class="col-md-3 col-lg-3 col-sm-3">
        <label for="@item.EntityID">
          <input type="radio" name="CustomerID" id=@item.EntityID value=@item.EntityID  class="card-input-element" required>
            <div class="panel panel-default card-input">
              <div class="panel-heading text-center "> @item.Name</div>
            </div>
        </label>
      </div>
    }
  </div>
</div>

<br>

<button type="submit">Go to Pizza Ordering</button>

</form>

<div class="container">
  
  
</div>

