@model PizzaWorld.Client.Models.CustomerViewModel

@{
  ViewBag.Title = "Customer Order History";
  Layout = "_Layout";
}
<h1>Order History of @TempData.Peek("CustomerName")</h1>
<section>
    <ul class = "list-group">
        @{if(Model.Customer.Orders != null)
        {
            @foreach (var item in Model.Customer.Orders)
            {
                <li class = "list-group-item" name = "orders"> 
                    <ul class = "list-group px-1 py-1">
                        <li class = "list-group-item list-group-item-primary">
                            Order Time: @item.Ordertime <span class = "tab-space">.      </span> From Store: @item.Store.Name 
                            <span class = "tab-space">.   </span> Customer Name: @Model.Customer.Name
                        </li>
                        <li class = "list-group-item px-1 py-1">
                            The Order Total is: $ @item.Price
                        </li>
                        @foreach (var pizza in item.Pizzas)
                        {
                            <li class = "list-group-item" name = "pizzas"> 
                                <ul class = "list-group px-1 py-1" name = "pizza_detail">
                                    <li class = "list-group-item list-group-item-secondary">
                                        Pizza Details: @pizza.Name
                                    </li>
                                    <li class = "list-group-item border-0 px-1 py-1">
                                        Crust: @pizza.Crust.Name <span class = "tab-space">.      </span> Size: @pizza.Size.Name
                                    </li>
                                    <li class = "list-group-item border-0 px-1 py-1">
                                        Toppings: 
                                        @{foreach (var topping in pizza.Toppings)
                                        {
                                            <span> @topping.Name,  </span> 
                                        }
                                        }
                                    </li>
                                    <li class = "list-group-item px-1 py-1">
                                        Pizza Price:$ @pizza.Price
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                </li>
            }
        }
        else
        {
            <p>Order history is empty!</p>
        }

        }
    </ul>


    <p>Thank you @TempData.Peek("CustomerName") for shopping with us!</p>
</section>

